* {
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/*head*/

.page-header{
    background-image: url("../img/bg-head.png");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-nav{
    display: flex;
    justify-content: space-around;
}

.logo a{
    margin: 0 auto;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.logo a:hover{
    text-decoration: none;
}

.menu{
    display: flex;
    font-size: 10px;
    padding: 15px;
    height: 40px;
}

.menu a{
    color: white;
    text-decoration: none;
}

.menu a:hover{
    color: #fce38a;

}

.menu li {
    list-style: none;
}

.menu li:hover{
    border-bottom: 2px solid #fce38a;
    padding-bottom: 2px;
}

.content-head{
    text-align: center;
    padding-top: 90px;
}

.content-head span{
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    color: white;
}

.content-head h1{
    color: white;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: bold;
    line-height: 95px;
    margin-top: 30px;
}

.line{
    border-bottom: 2px solid white;
    width: 50px;
    margin: 0 auto;
    padding-top: 50px;
}

.learn{
    border: 2px solid white;
    width: 100px;
    margin: 0 auto;
    font-size: 10px;
    margin-top: 50px;
    padding: 7px;
    text-align: center;
    text-transform: uppercase;
}

.learn a{
    color: white;
}

.learn a:hover{
    text-decoration: none;
}

/*about*/

.about{
    text-align: center;
    padding-top: 70px;
}

.about span{
    font-family: 'Kaushan Script', cursive;
}

.about h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.about p{
    padding-top: 25px;
    color: #999999;
    font-size: 10px;
}

.line-red{
    border-bottom: 2px solid #f38181;
    width: 50px;
    margin: 0 auto;
    padding-top: 25px;
}

.grid-container{
    display: flex;
    justify-content: center;
}

.grid-container a{
    padding: 10px;
}

.photo-about{
    background-image: url("../img/small/story-one.png");
    width: 380px;
    height: 250px;
    margin: 20px;
}

.photo-about:hover{
    background-image: url("../img/small/story-one-bg.png");
    transition: 0.5s all;
    cursor: pointer;
    border-bottom: 10px solid #95e1d3;
    border-right: 10px solid #95e1d3;
}

.photo-about-two{
    background-image: url("../img/small/story-two.png");
    width: 380px;
    height: 250px;
    margin: 20px;
}

.photo-about-two:hover{
    background-image: url("../img/small/story-two-bg.png");
    transition: 0.5s all;
    cursor: pointer;
    border-bottom: 10px solid #95e1d3;
    border-right: 10px solid #95e1d3;
}

.photo-about-three{
    background-image: url("../img/small/story-three.png");
    width: 380px;
    height: 250px;
    margin: 20px;
    transition: 0.5s all;
}

.photo-about-three:hover{
    background-image: url("../img/small/story-three-bg.png");
    transition: 0.5s all;
    cursor: pointer;
    border-bottom: 10px solid #95e1d3;
    border-right: 10px solid #95e1d3;
}

.photo-sts{
    height: 350px;
}

.stats{
    background-color: #95e1d3;
    color: white;
}

.stats h2{
    font-size: 50px;
}

.statist{
    padding: 40px;
    width: 250px;
    text-align: center;
}

.statist p{
    color: white;
    margin-top: -30px;
}

/*services*/

.services{
    text-align: center;
    padding-top: 70px;
}

.services span{
    font-family: 'Kaushan Script', cursive;
}

.services h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.services p{
    padding-top: 25px;
    color: #999999;
    font-size: 10px;
}

.grid-item{
    padding: 20px;
    width: 300px;
    text-align: left;
}

.service-content{
    display: flex;
    justify-content: center;
}

.service-content2{
    display: flex;
    justify-content: center;
}

.grid-container2{
    padding-top: 35px;
}

/*unique*/

.unique{
    background-image: url("../img/bg-unique.png");
    height: 650px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.unique{
    text-align: center;
    padding-top: 70px;
}

.unique span{
    font-family: 'Kaushan Script', cursive;
}

.unique h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.phone{
    position: relative;
    top: 125px;
    left: 205px;
}


/*what*/

.what{
    height: 750px;
    padding-top: 130px;
}

.what p{
    padding-top: 25px;
    color: #999999;
    font-size: 10px;
}

.what-content{
    display: flex;
    justify-content: center;
}

.what-photo{
    display: flex;
    height: 420px;
}

.what-tab{
    border: 1px solid #999999;
    display: flex;
    width: 500px;
}

.what-tab p{
    color: #999999;
    font-size: 10px;
    font-weight: bold;
    padding-left: 10px;
    width: 100px;
    text-align: left;
}

.what-tab a{
    text-align: end;
}

.what-text{
    padding-left: 20px;
}

.image-wt{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

#poka{
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    width: 500px;
    text-align: left;
    padding: 10px;
    height: 80px;
    overflow: scroll;

}

#poka2{
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    width: 500px;
    text-align: left;
    padding: 10px;
    height: 80px;
    overflow: scroll;
}

#poka3{
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    width: 500px;
    text-align: left;
    padding: 10px;
    height: 80px;
    overflow: scroll;
}

.fa-angle-down{
    margin-left: 300px;
}


/*slide*/

.slide{
    background-color: #f8f8f8;
    height: 200px;
}

.slide-img{
    border: 2px solid #95e1d3;
    width: 100px;
    padding: 10px;
    position: relative;
    left: 200px;
    top: 60px;
}

.slide-text{
    margin: -30 auto;
    text-align: left;
    width: 640px;
}

.slide-text p{
    color: #999999;
}

.slide-text span{
    padding-top: 10px;
    top:-40px;
    position: relative;
}

/*meet*/

.met{
    padding-top: 80px;
    height: 900px;
}

.met p{
    padding-top: 25px;
    color: #999999;
    font-size: 10px;
}

.met-photo{
    display: flex;
    justify-content: center;
}

.met-txt{
    width: 420px;
}

.meet-text{
    display: flex;
    justify-content: center;
}

.met-photo-one{
    background-image: url("../img/small/meet-one.png");
    width: 380px;
    height: 470px;
    margin: 20px;
    transition: 0.5s all;
}

.met-photo-one:hover{
    background-image: url("../img/small/met-one-gr.png");
    transition: 0.5s all;
    cursor: pointer;
    border-bottom: 10px solid #95e1d3;
    border-right: 10px solid #95e1d3;
}

.met-photo-two{
    background-image: url("../img/small/meet-two.png");
    width: 380px;
    height: 470px;
    margin: 20px;
    transition: 0.5s all;
}

.met-photo-two:hover{
    background-image: url("../img/small/met-two-gr.png");
    transition: 0.5s all;
    cursor: pointer;
    border-bottom: 10px solid #95e1d3;
    border-right: 10px solid #95e1d3;
}

.met-photo-three{
    background-image: url("../img/small/meet-three.png");
    width: 380px;
    height: 470px;
    margin: 20px;
    transition: 0.5s all;
}

.met-photo-three:hover{
    background-image: url("../img/small/met-three-gr.png");
    transition: 0.5s all;
    cursor: pointer;
    border-bottom: 10px solid #95e1d3;
    border-right: 10px solid #95e1d3;
}

/*sponsor*/

.sponsor{
    background-color: #f8f8f8;
    height: 200px;
}

.sponsor-img{
    padding: 35px;
}

/*work*/

.work{
    padding-top: 80px;
    height: 1050px;
}

.work p{
    padding-top: 25px;
    color: #999999;
    font-size: 10px;
}

/*work*/

.wrapper {
    padding-top: 35px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 390px 390px;
    background-color: #fff;
    color: #444;
}

.box {
    padding: 20px;
    font-size: 150%;

}

.a {
    grid-column: 1 ;
    background-image: url("../img/small/grad/one.png");

}
.b {
    grid-column: 2;
    background-image: url("../img/small/grad/two.png");

}
.e {
    grid-column: 3 ;
    grid-row: 1 / 3;
    background-image: url("../img/small/grad/three.png");
}
.c {
    grid-column: 1 ;
    background-image: url("../img/small/grad/four.png");
}
.d {
    grid-column: 2;
    background-image: url("../img/small/grad/five.png");
}

.f {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
    background-image: url("../img/small/grad/six.png");
}

.g {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    background-image: url("../img/small/grad/seven.png");
}
/*slide2*/

.slide-2{
    padding-top: 50px;
    padding-bottom: 50px;
}


.slide-img-2{
    width: 100px;
    padding: 10px;
    position: relative;
    left: 200px;
    top: 15px;
}

.img-2{
    width: 150px;
    height: 150px;
}

.slide-text-2{
    margin: 0 auto;
    text-align: left;
    width: 520px;
    position: relative;
    margin-top: -125px;
}

.slide-text-2 p{
    color: #999999;
}

.slide-text-2 span{
    padding-top: 10px;
    top:-20px;
    position: relative;
}

/*clients*/

.clients{
    background-image: url("../img/bg-people.png");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.clients-txt{
    padding-top: 60px;
}

.clients-txt p{
    padding-top: 25px;
    color: #999999;
    font-size: 10px;
}

.clients-4{
    padding: 60px;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

.clients-4 span{
    font-family: sans-serif;
    font-size: 20px;
}

.clients-4 p{
    font-size: 15px;
}

.clients-4 i{
    font-size: 10px;
}

.img-cl{
    position: relative;
    width: 100px;
    height: 100px;
}

/*stories*/

.stories{
    padding-top: 80px;
    height: 500px;
}

/*blog*/

.blog-3{
    display: flex;
    justify-content: center;
}

.img-blog{
    width: 300px;
    padding: 20px;
}

.blog-data{
    background-color: #95e1d3;
    color: white;
    width: 45px;
    height: 50px;
    position: relative;
    top: -75px;
}

.blog-text{
    width: 280px;
    text-align: left;
    margin: 0 auto;
    position: relative;
    top: -50px;
}

.blog-text h2{
    font-size: 12px;
}

.blog-text p {
    font-size: 9px;
}

/*map*/

.map{
    background-image: url("../img/bg-map.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 135px;
}

.map-txt{
    color: #f38181;
    padding: 20px;
    font-weight: bold;
}

.map-tex-pin{
    padding-top: 15px;
}

/*footer*/

.page-footer{
    height: 450px;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.foo-one{
    width: 400px;
    text-align: left;
}

.foo-one h2{
    color: #cccccc;
    font-size: 30px;
}

.foo-one p {
    color: #cccccc;
    font-size: 10px;
    padding-top: 5px;
}

.foo-one span {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.foo-two{
    text-align: left;
    padding: 10px;
}

.foo-two p{
    padding-top: 20px;
    position: absolute;
    padding-left: 140px;
    width: 320px;
    font-weight: bold;
}

.img-foo {
    padding: 10px;
}

.foo-blog-img{
    padding: 2px;
    width: 330px;
    display: flex;
    text-align: left;
    font-size: 10px;
    margin: 0 auto;
    text-transform: uppercase;
}

.foo-data{
    position: relative;
    width: 200px;
    padding-top: 55px;
    font-family: 'Montserrat', sans-serif;
    color: #CCCCCC;
}

.foo-two h6{
    text-transform: uppercase;
    color: #CCCCCC;
    padding-left: 12px;
}

.foo-three{
    padding: 10px;
    width: 300px;
    text-align: left;
}

.foo-three h6{
    text-transform: uppercase;
    color: #CCCCCC;
    padding-left: 12px;
}

.foo-three p{
    color: #CCCCCC;
    font-size: 12px;
    padding-left: 12px;
}

.foo-follow{
    border-top: 1px solid #CCCCCC;
    font-size: 15px;
    color: #CCCCCC;
    padding-top: 5px;
}

.foo-sub{
    background-color: #95e1d3;
    color: white;
    border: none;
    margin: 0 auto;
    cursor: pointer;
}

.foo-email{
    padding-top: 20px;
}

.footer-autor{
    border-top: 1px solid #CCCCCC;
    width: 80%;
    margin: 0 auto;
}

.foo-three a{
    text-transform: none;
    text-decoration: none;
    color: #CCCCCC;
    font-size: 12px;
    padding-left: 12px;
}

.foo-three a:hover{
    text-transform: none;
    text-decoration: none;
    color: #CCCCCC;
    font-size: 12px;
    padding-left: 12px;
    color: #95e1d3;
}

.fa{
    padding: 5px;
    color: #95e1d3;
}

.fa:hover{
    color: #CCCCCC;
    cursor: pointer;
}